*{
    margin: 0;
    padding: 0;
}
.logo {
    display: block;
    margin: 0 auto;
    width: 30px;
}
h1{
    font-family: 'Tilt Prism', cursive;
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: rgba(132, 17, 240, 1);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

a {
    text-decoration:  none;
}

.nav-link {
    font-weight: bold;
    font-size: 16px;
}

#header h1 { display:inline; }

img{
    max-width: 100%;
}