.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20;
}

.formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(132, 17, 240, 1);
    color: white;
    font-weight: bold;
}

/* tocando el registro */

.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20;
}

.registro input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(132, 17, 240, 1);
    color: white;
    font-weight: bold;
}

/* tocando el login */  

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20;
}

.login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(132, 17, 240, 1);
    color: white;
    font-weight: bold;
}